* {
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
}

html,body,div{
    margin: 0;
    padding: 0;
    display: block;
    text-align:center;
}

body {
    background-image: url('../../resources/images/AssassinsCreed.jpg');
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}


[hidden] {
    display: none !important;
}